[submodule "druntime"]
	path = runtime/druntime
	url = ../druntime
[submodule "phobos"]
	path = runtime/phobos
	url = ../phobos
[submodule "tests/d2/dmd-testsuite"]
	path = tests/d2/dmd-testsuite
	url = ../dmd-testsuite
