dist: xenial
language: d

git:
  depth: 50

matrix:
  include:
    - os: linux
      d: ldc
      env: LLVM_VERSION=9.0.0 OPTS="-DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON"
    - os: linux
      d: ldc-beta
      env: LLVM_VERSION=8.0.0 OPTS="-DBUILD_SHARED_LIBS=OFF"
    # FIXME: strange crashes, possibly due to C++ compiler mismatch
    #- os: linux
    #  d: ldc
    #  env: LLVM_VERSION=7.0.1 OPTS="-DBUILD_SHARED_LIBS=ON"
    - os: linux
      d: ldc-beta
      env: LLVM_VERSION=6.0.1 OPTS="-DBUILD_SHARED_LIBS=OFF -DLIB_SUFFIX=64 -DRT_SUPPORT_SANITIZERS=ON"
    - os: linux
      d: ldc
      env: LLVM_VERSION=5.0.2 OPTS="-DBUILD_SHARED_LIBS=ON -DLIB_SUFFIX=64"
    - os: linux
      d: ldc-0.17.6
      env: LLVM_VERSION=4.0.0 OPTS="-DLIB_SUFFIX=64"
    - os: linux
      d: dmd
      env: LLVM_VERSION=3.9.1
    - os: osx
      d: dmd
      env: LLVM_VERSION=9.0.0 OPTS="-DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON"
    - os: osx
      d: ldc-beta
      env: LLVM_VERSION=7.0.0 OPTS="-DBUILD_SHARED_LIBS=OFF"

cache:
  directories:
    - llvm-9.0.0
    - llvm-8.0.0
    - llvm-7.0.1
    - llvm-7.0.0
    - llvm-6.0.1
    - llvm-5.0.2
    - llvm-4.0.0
    - llvm-3.9.1

addons:
  apt:
    packages:
    - gdb
    - ninja-build

# Download & extract prebuilt vanilla LLVM if not in cache
before_install:
  - export LLVM_ROOT_DIR="$PWD/llvm-$LLVM_VERSION"
  - |
    if [ ! -e "$LLVM_ROOT_DIR/bin/llvm-config" ]; then
      if [ "$TRAVIS_OS_NAME" = "linux" ]; then
        export LLVM_ARCH="x86_64-linux-gnu-ubuntu-16.04"
      elif [ "$LLVM_VERSION" = "9.0.0" ]; then
        export LLVM_ARCH="x86_64-darwin-apple"
      else
        export LLVM_ARCH="x86_64-apple-darwin"
      fi
      wget -O llvm.tar.xz http://releases.llvm.org/$LLVM_VERSION/clang+llvm-$LLVM_VERSION-$LLVM_ARCH.tar.xz
      mkdir -p $LLVM_ROOT_DIR
      tar -xf llvm.tar.xz --strip 1 -C $LLVM_ROOT_DIR
      rm llvm.tar.xz
    fi

install:
  - |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      # Install pip
      wget -O get-pip.py https://bootstrap.pypa.io/get-pip.py
      sudo python get-pip.py
      rm get-pip.py
      # Download & extract Ninja & add to PATH
      wget -O ninja-mac.zip https://github.com/ninja-build/ninja/releases/download/v1.9.0/ninja-mac.zip
      mkdir ninja
      tar -xf ninja-mac.zip -C ninja
      rm ninja-mac.zip
      export PATH="$PWD/ninja:$PATH"
    fi
  # Install lit
  - pip install --user lit
  - python -c "import lit; lit.main();" --version | head -n 1

script:
  - unset LD_LIBRARY_PATH
  - cmake --version
  - ninja --version
  - |
    cmake -G Ninja . \
      -DCMAKE_BUILD_TYPE=Release \
      -DLLVM_ROOT_DIR=$LLVM_ROOT_DIR \
      -DLDC_INSTALL_LTOPLUGIN=ON \
      -DLDC_INSTALL_LLVM_RUNTIME_LIBS=ON \
      $OPTS
  # Build LDC & LDC D unittests & defaultlib unittest runners
  - |
    numJobs=3
    # The OSX VM has only 4 GB of memory (Linux: 7.5)
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      numJobs=2
    fi
    ninja -j$numJobs all ldc2-unittest all-test-runners
  - bin/ldc2 -version || exit 1
  # Run LDC D unittests
  - ctest --output-on-failure -R "ldc2-unittest"
  # Run LIT testsuite
  - ctest -V -R "lit-tests"
  # Run DMD testsuite
  - |
    # The -lowmem tests don't work with an ltsmaster host compiler
    if [[ "$($DC --version | head -n 1)" == *0.17.* ]]; then
      rm tests/d2/dmd-testsuite/runnable/{testptrref,xtest46}_gc.d
      rm tests/d2/dmd-testsuite/fail_compilation/mixin_gc.d
    fi
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      # dmd-testsuite-debug only to reduce time-outs
      DMD_TESTSUITE_MAKE_ARGS=-j3 ctest -V -R "dmd-testsuite-debug"
    else
      if [ "$LLVM_VERSION" = "3.9.1" ]; then
        # FIXME: assertion failure for runnable/mars1.d with DMD/LLVM 3.9.1
        #        job (debug only, release passes)
        rm tests/d2/dmd-testsuite/runnable/mars1.d
      fi
      DMD_TESTSUITE_MAKE_ARGS=-j3 ctest -V -R "dmd-testsuite"
    fi
  # Run defaultlib unittests & druntime stand-alone tests
  - ctest -j3 --output-on-failure -E "dmd-testsuite|lit-tests|ldc2-unittest"

after_success:
  - |
    if [[ "$OPTS" == *-DTEST_COVERAGE?ON* ]]; then
      coveralls -e runtime -e tests -e vcbuild --gcov gcov-4.9 --gcov-options '\-lp' > /dev/null 2>&1
    fi

notifications:
  email:
    recipients:
      - "digitalmars-d-ldc@puremagic.com"
    on_success: never
    on_failure: change
  irc:
    channels:
      - "irc.freenode.org#ldc"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: true
