language: cpp
install:
  - echo yes | sudo add-apt-repository ppa:dr-graef/llvm-3.1.precise
  - sudo apt-get update -qq
  - sudo apt-get install -qq $LLVM_PACKAGE libconfig++8-dev
env:
  - DVER=1 LLVM_PACKAGE=llvm-3.1 LLVM_VERSION=3.1
  - DVER=2 LLVM_PACKAGE=llvm-3.0-dev LLVM_VERSION=3.0
  - DVER=2 LLVM_PACKAGE=llvm-3.1 LLVM_VERSION=3.1
script:
  - cmake -DD_VERSION=$DVER -DLLVM_CONFIG=/usr/bin/llvm-config-$LLVM_VERSION
  - make
  - ctest --output-on-failure

notifications:
  email:
    recipients:
      - "ldc-dev@googlegroups.com"
    on_success: never
    on_failure: change
  irc:
    channels:
      - "irc.freenode.org#ldc"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: true
