dist: trusty
language: cpp
sudo: false

matrix:
  include:
    - os: linux
      env: LLVM_VERSION=6.0.0
    - os: linux
      env: LLVM_VERSION=5.0.1
    - os: linux
      env: LLVM_VERSION=4.0.1
    - os: linux
      env: LLVM_VERSION=3.9.1 OPTS="-DBUILD_SHARED_LIBS=ON"
    - os: linux
      env: LLVM_VERSION=3.8.1 OPTS="-DBUILD_SHARED_LIBS=OFF"
    - os: linux
      env: LLVM_VERSION=3.7.1 OPTS="-DMULTILIB=ON"
    - os: linux
      env: LLVM_VERSION=3.6.2
    - os: linux
      env: LLVM_VERSION=3.5.2
    - os: osx
      env: LLVM_VERSION=4.0.0 OPTS="-DBUILD_SHARED_LIBS=OFF"
  allow_failures:
    #- env: LLVM_VERSION=3.9

cache:
  directories:
    - llvm-6.0.0
    - llvm-5.0.1
    - llvm-4.0.1
    - llvm-3.9.1
    - llvm-3.8.1
    - llvm-3.7.1
    - llvm-3.6.2
    - llvm-3.5.2

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9-multilib
    - g++-multilib
    - gdb
    - ninja-build
    - libconfig++8-dev
    - libcurl3:i386

before_install:
  -
    if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      if [ "${LLVM_VERSION}" = "4.0.1" ]; then
        export LLVM_ARCH="x86_64-linux-gnu-debian8";
      else
        export LLVM_ARCH="x86_64-linux-gnu-ubuntu-14.04";
      fi;
    else
      export LLVM_ARCH="x86_64-apple-darwin";
    fi;
    if [ -z "$(ls -A llvm-$LLVM_VERSION)" ]; then
      wget -O llvm-$LLVM_VERSION.tar.xz http://llvm.org/releases/$LLVM_VERSION/clang+llvm-$LLVM_VERSION-${LLVM_ARCH}.tar.xz;
      mkdir llvm-$LLVM_VERSION;
      tar -xf llvm-$LLVM_VERSION.tar.xz --strip 1 -C llvm-$LLVM_VERSION;
    fi;

    llvm-$LLVM_VERSION/bin/llvm-config --version;
    export LLVM_CONFIG="llvm-$LLVM_VERSION/bin/llvm-config";

install:
  -
    if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      if [ "${LLVM_VERSION}" = "6.0.0" ]; then
        export CC="$PWD/llvm-$LLVM_VERSION/bin/clang"; export CXX="$PWD/llvm-$LLVM_VERSION/bin/clang++";
      else
        export CC="gcc-4.9"; export CXX="g++-4.9";
      fi
    fi
  -
    if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      brew update; brew install ninja libconfig;
      wget -O get-pip.py https://bootstrap.pypa.io/get-pip.py;
      sudo python get-pip.py;
    fi
  - pip install --user lit
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then ld --version; gdb --version; fi
  - cmake --version
  - ninja --version
  - python -c "import lit; lit.main();" --version | head -n 1

script:
  - cmake -G Ninja -DLLVM_CONFIG=$(which ${LLVM_CONFIG}) $OPTS .
  - ninja -j3
  # Output some environment info, plus make sure we only run the test suite
  # if we could actually build the executable.
  - bin/ldc2 -version || exit 1
  # Build Phobos & druntime unittest modules.
  -
    if [ "${OPTS}" = "-DMULTILIB=ON" ]; then
      ninja -j2 phobos2-ldc-unittest-debug phobos2-ldc-unittest phobos2-ldc-unittest-debug-32 phobos2-ldc-unittest-32;
      ninja -j3 druntime-ldc-unittest-debug druntime-ldc-unittest druntime-ldc-unittest-debug-32 druntime-ldc-unittest-32;
    else
      ninja -j2 phobos2-ldc-unittest-debug phobos2-ldc-unittest;
      ninja -j3 druntime-ldc-unittest-debug druntime-ldc-unittest;
    fi
  # Run LIT testsuite.
  - ctest -V -R "lit-tests"
  # Run DMD testsuite.
  - DMD_TESTSUITE_MAKE_ARGS=-j3 ctest -V -R "dmd-testsuite"
  # Link and run Phobos & druntime unittest runners.
  - ctest -j3 --output-on-failure -E "dmd-testsuite|lit-tests"

notifications:
  email:
    recipients:
      - "digitalmars-d-ldc@puremagic.com"
    on_success: never
    on_failure: change
  irc:
    channels:
      - "irc.freenode.org#ldc"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: true
