language: cpp
sudo: false
addons:
  apt:
    sources:
    - llvm-toolchain-precise
    - llvm-toolchain-precise-3.5
    - llvm-toolchain-precise-3.6
    - ubuntu-toolchain-r-test
    packages:
    - libconfig++8-dev
    - gcc-4.9
    - g++-4.9
    - gcc-4.9-multilib
    - g++-4.9-multilib
    - linux-libc-dev:i386
    - libedit2
    - libedit-dev
    - llvm-3.1
    - llvm-3.1-dev
    - llvm-3.2
    - llvm-3.2-dev
    - llvm-3.3
    - llvm-3.3-dev
    - llvm-3.4
    - llvm-3.4-dev
    - llvm-3.5
    - llvm-3.5-dev
    - llvm-3.6
    - llvm-3.6-dev
install:
  - if [[ "${LLVM_CONFIG}" == *3\.[567]* ]]; then export CC="gcc-4.9"; export CXX="g++-4.9"; fi
env:
  - LLVM_CONFIG="llvm-config-3.1"
  - LLVM_CONFIG="llvm-config-3.2"
  - LLVM_CONFIG="llvm-config-3.3"
  - LLVM_CONFIG="llvm-config-3.4" OPTS="-DTEST_COVERAGE=ON"
  - LLVM_CONFIG="llvm-config-3.5" OPTS="-DBUILD_SHARED_LIBS=ON"
  - LLVM_CONFIG="llvm-config-3.6" OPTS="-DMULTILIB=ON"
  - LLVM_CONFIG="llvm-config-3.7"
matrix:
  allow_failures:
  - env: LLVM_CONFIG="llvm-config-3.6" OPTS="-DMULTILIB=ON"
  - env: LLVM_CONFIG="llvm-config-3.7"
script:
  - cmake -DLLVM_CONFIG=$(which ${LLVM_CONFIG}) $OPTS .
  - make -j3
  # Outputs some environment info, plus makes sure we only run the test suite
  # if we could actually build the executable.
  - bin/ldc2 -version || exit 1
  - MAKEOPTS=-j2 ctest -j1 --verbose -R "build-phobos2-" -E "-test-runner"
  - ctest -j3 --verbose -R "(build-)" -E "(build-phobos2-|-test-runner)"
  - MAKEOPTS=-j4 ctest -j1 --verbose -R "dmd-testsuite" -E "-debug"
  - MAKEOPTS=-j4 ctest -j1 --verbose -R "dmd-testsuite-debug"
  - ctest -j4 --output-on-failure -E "dmd-testsuite"

after_success:
  -
    if [[ "${OPTS}" == *TEST_COVERAGE*ON* ]]; then
      coveralls -e runtime -e tests -e vcbuild --gcov gcov-4.9 --gcov-options '\-lp' > /dev/null 2>&1;
    fi

notifications:
  # Temporarily disabled due to time limit problems.
  # email:
  #   recipients:
  #     - "ldc-dev@googlegroups.com"
  #   on_success: never
  #   on_failure: change
  irc:
    channels:
      - "irc.freenode.org#ldc"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: true
