language: cpp
install:
  # LLVM 3.2
  - sudo sudo sh -c "echo 'deb http://archive.ubuntu.com/ubuntu/ precise-proposed restricted main multiverse universe' >> /etc/apt/sources.list"

  # LLVM 3.4 snapshots
  - sudo sudo sh -c "echo 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise main' >> /etc/apt/sources.list"
  - wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -

  # Some random Launchpad PPA for LLVM 3.3, should consder replacing this with
  # the official Clang binary package from the llvm.org download page.
  - echo yes | sudo add-apt-repository ppa:nmi/llvm-3.3

  - sudo apt-get update -qq
  - sudo apt-get install -qq $LLVM_PACKAGE libconfig++8-dev
  - if [[ "${OPTS}" == *MULTILIB*ON* ]]; then sudo apt-get install -qq gcc-multilib libcurl3:i386 ; fi
  - if [[ "${OPTS}" == *MULTILIB*ON* ]]; then sudo ln -s /usr/lib/i386-linux-gnu/libcurl.so.4.2.0 /usr/lib/i386-linux-gnu/libcurl.so ; fi
env:
  - LLVM_PACKAGE="llvm-3.1 llvm-3.1-dev" TESTSUITE_FILTER=debug
  - LLVM_PACKAGE="llvm-3.1 llvm-3.1-dev" TESTSUITE_FILTER=release
  - LLVM_PACKAGE="llvm-3.2 llvm-3.2-dev" TESTSUITE_FILTER=debug
  - LLVM_PACKAGE="llvm-3.2 llvm-3.2-dev" TESTSUITE_FILTER=release
  - LLVM_PACKAGE="llvm-3.3 llvm-3.3-dev" TESTSUITE_FILTER=debug OPTS="-DMULTILIB=ON"
  - LLVM_PACKAGE="llvm-3.3 llvm-3.3-dev" TESTSUITE_FILTER=release OPTS="-DMULTILIB=ON"
  - LLVM_PACKAGE="llvm-3.4 llvm-3.4-dev" TESTSUITE_FILTER=debug
  - LLVM_PACKAGE="llvm-3.4 llvm-3.4-dev" TESTSUITE_FILTER=release
  - LLVM_PACKAGE="llvm-3.5 llvm-3.5-dev" TESTSUITE_FILTER=debug
  - LLVM_PACKAGE="llvm-3.5 llvm-3.5-dev" TESTSUITE_FILTER=release
matrix:
  allow_failures:
    - env: LLVM_PACKAGE="llvm-3.5 llvm-3.5-dev" TESTSUITE_FILTER=debug
    - env: LLVM_PACKAGE="llvm-3.5 llvm-3.5-dev" TESTSUITE_FILTER=release
script:
  - cmake $OPTS .
  - make
  # Outputs some environment info, plus makes sure we only run the test suite
  # if we could actually build the executable.
  - bin/ldc2 -version && ctest --output-on-failure -R $TESTSUITE_FILTER

notifications:
  # Temporarily disabled due to time limit problems.
  # email:
  #   recipients:
  #     - "ldc-dev@googlegroups.com"
  #   on_success: never
  #   on_failure: change
  irc:
    channels:
      - "irc.freenode.org#ldc"
    on_success: always
    on_failure: always
    use_notice: false
    skip_join: true
