# syntax: https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema

variables:
  LLVM_VERSION: 11.0.1
  CLANG_VERSION: 11.0.0
  HOST_LDC_VERSION: 1.24.0

trigger:
- '*'
- refs/tags/v*

jobs:
- job: Windows
  timeoutInMinutes: 120
  pool:
    vmImage: 'windows-2019'
  variables:
    VSINSTALLDIR: C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\
  strategy:
    matrix:
      x64:
        OS: windows
        MODEL: 64
        ARCH: x64
        EXTRA_CMAKE_FLAGS: -DBUILD_LTO_LIBS=ON -DD_COMPILER_FLAGS="-O -flto=full -defaultlib=phobos2-ldc-lto,druntime-ldc-lto" -DEXTRA_CXXFLAGS=-flto=full
      x86:
        OS: windows
        MODEL: 32
        ARCH: x86
        # Undefined symbol errors with FullLTO; ThinLTO works.
        EXTRA_CMAKE_FLAGS: -DBUILD_LTO_LIBS=ON -DD_COMPILER_FLAGS="-O -flto=thin -defaultlib=phobos2-ldc-lto,druntime-ldc-lto" -DEXTRA_CXXFLAGS=-flto=thin
        # Let CMake configure 64-bit clang-cl for 32-bit code emission.
        CFLAGS: -m32
        CXXFLAGS: -m32
        ASMFLAGS: -m32
  steps:
    - template: .azure-pipelines/windows.yml

# Merges the x64 and x86 Windows packages to a multilib package (64-bit binaries + 32/64-bit libraries).
- job: Windows_multilib
  timeoutInMinutes: 30
  pool:
    vmImage: 'windows-2019'
  dependsOn:
    - Windows
  steps:
    - template: .azure-pipelines/windows-merge.yml

- job: Linux_multilib
  timeoutInMinutes: 120
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    CI_OS: linux
    ARCH: x86_64
    # To improve portability of the generated binaries, link the C++ standard library statically.
    # Also don't use relax relocations for the C(++) parts of the default libraries in order to
    # support older user binutils (e.g., Ubuntu 14.04).
    BOOTSTRAP_CMAKE_FLAGS: -DBUILD_LTO_LIBS=ON -DLDC_INSTALL_LTOPLUGIN=ON
    EXTRA_CMAKE_FLAGS: -DMULTILIB=ON -DBUILD_LTO_LIBS=ON -DCMAKE_EXE_LINKER_FLAGS=-static-libstdc++ -DJITRT_EXTRA_LDFLAGS=-static-libstdc++ -DRT_CFLAGS=-Wa,-mrelax-relocations=no -DLDC_INSTALL_LTOPLUGIN=ON -DLDC_INSTALL_LLVM_RUNTIME_LIBS=ON -DD_COMPILER_FLAGS="-O -flto=full -defaultlib=phobos2-ldc-lto,druntime-ldc-lto" -DEXTRA_CXXFLAGS=-flto=full
    # Official clang 11.0.0 was available for Ubuntu 16.04, but isn't anymore...
    CLANG_VERSION: 10.0.1
  steps:
    - template: .azure-pipelines/posix.yml

- job: macOS_x64
  timeoutInMinutes: 120
  pool:
    vmImage: 'macOS-10.15'
  variables:
    CI_OS: osx
    ARCH: x86_64
    BOOTSTRAP_CMAKE_FLAGS: -DBUILD_LTO_LIBS=ON
    EXTRA_CMAKE_FLAGS: -DBUILD_LTO_LIBS=ON -DD_COMPILER_FLAGS="-O -flto=full -defaultlib=phobos2-ldc-lto,druntime-ldc-lto" -DEXTRA_CXXFLAGS=-flto=full
    MACOSX_DEPLOYMENT_TARGET: 10.9
    IOS_DEPLOYMENT_TARGET: 12.0
  steps:
    - template: .azure-pipelines/posix.yml

- job: Android
  timeoutInMinutes: 120
  pool:
    vmImage: 'ubuntu-16.04'
  variables:
    CI_OS: android
    ANDROID_NDK_VERSION: r21d
    # Official clang 11.0.0 was available for Ubuntu 16.04, but isn't anymore...
    CLANG_VERSION: 10.0.1
  strategy:
    matrix:
      armv7a:
        ARCH: armv7a
        EXTRA_CMAKE_FLAGS: -DANDROID_ABI=armeabi-v7a -DANDROID_NATIVE_API_LEVEL=21 -DANDROID_STL=c++_static -DCMAKE_CROSSCOMPILING=True
        ANDROID_X86_ABI: x86
      aarch64:
        ARCH: aarch64
        EXTRA_CMAKE_FLAGS: -DANDROID_ABI=arm64-v8a -DANDROID_NATIVE_API_LEVEL=21 -DANDROID_STL=c++_static -DCMAKE_CROSSCOMPILING=True
        ANDROID_X86_ABI: x86_64
  steps:
    - template: .azure-pipelines/posix.yml

# Uploads all artifacts to a GitHub release.
- job: Upload_to_GitHub
  timeoutInMinutes: 30
  pool:
    vmImage: 'ubuntu-16.04'
  dependsOn:
    - Windows_multilib
    - Linux_multilib
    - macOS_x64
    - Android
  # Only run for commits on the master branch and tags.
  condition: and(succeeded(), or(eq(variables['Build.SourceBranch'], 'refs/heads/master'), startsWith(variables['Build.SourceBranch'], 'refs/tags/')))
  steps:
    - checkout: none
    - task: DownloadPipelineArtifact@2
      inputs:
        targetPath: artifacts
    - bash: |
        set -ex
        cd artifacts
        mv */*.* .
        find . -type d -empty -delete
        ls -l
        sha256sum * > sha256sums.txt
      displayName: Move artifact files out of their subdirs and compute hashes
    # We also need to determine whether the GitHub release is a pre-release,
    # as the GitHubRelease task overwrites that flag.
    - bash: |
        set -ex
        if [ "${BUILD_SOURCEBRANCH:0:10}" != "refs/tags/" ]; then
          releaseTag=CI
          isPreRelease=true
          artifactID=${BUILD_SOURCEVERSION:0:8}
        else
          releaseTag=${BUILD_SOURCEBRANCH:10}
          if [[ "$releaseTag" == *-* ]]; then
            isPreRelease=true
          else
            isPreRelease=false
          fi
          artifactID=${BUILD_SOURCEBRANCH:11}
        fi
        mv artifacts/sha256sums.txt artifacts/ldc2-$artifactID.sha256sums.txt
        set +x
        echo "##vso[task.setvariable variable=GITHUB_RELEASE_TAG]$releaseTag"
        echo "##vso[task.setvariable variable=GITHUB_RELEASE_ISPRERELEASE]$isPreRelease"
      displayName: Set GITHUB_RELEASE_{TAG,ISPRERELEASE} env variables
    - task: GitHubRelease@0
      inputs:
        gitHubConnection: kinke
        repositoryName: ldc-developers/ldc
        action: edit
        tag: $(GITHUB_RELEASE_TAG)
        assets: artifacts/*
        assetUploadMode: replace
        # If we omit this, GitHub's isPreRelease flag is overwritten by the default `false`.
        isPreRelease: $(GITHUB_RELEASE_ISPRERELEASE)
        # If we omit this, an automatic change log is appended to the GitHub description.
        addChangeLog: false
      displayName: Upload artifacts to GitHub release
