steps:
- script: |
    git config --global core.autocrlf true
    set
  displayName: Print environment variables
- checkout: self
  submodules: true
- script: |
    echo on
    :: Download & extract libcurl
    curl -L -o libcurl.zip https://dl.dropboxusercontent.com/s/jxwohqax4e2avyt/libcurl-7.48.0-WinSSL-zlib-x86-x64.zip?dl=0
    mkdir libcurl
    cd libcurl
    7z x ../libcurl.zip > nul
    mkdir ldc2
    if "%MODEL%" == "64" (
      cp dmd2/windows/bin%MODEL%/libcurl.dll ldc2
      cp dmd2/windows/lib%MODEL%/curl.lib ldc2
    ) else (
      cp dmd2/windows/bin/libcurl.dll ldc2
      cp dmd2/windows/lib32mscoff/curl.lib ldc2
    )
    cd ..
    :: Download & extract Ninja
    curl -L -o ninja.zip https://github.com/ninja-build/ninja/releases/download/v1.9.0/ninja-win.zip
    mkdir ninja
    cd ninja
    7z x ../ninja.zip > nul
    cd ..
    :: Install lit
    python -m pip install lit
    :: Download & extract host LDC
    curl -L -o ldc2.7z http://github.com/ldc-developers/ldc/releases/download/v%HOST_LDC_VERSION%/ldc2-%HOST_LDC_VERSION%-windows-multilib.7z
    7z x ldc2.7z > nul
    mv ldc2-%HOST_LDC_VERSION%-windows-multilib host-ldc
    :: Download & extract GNU make (for dmd-testsuite & druntime stand-alone tests)
    curl -L -o make.7z https://dl.dropboxusercontent.com/s/4y36f5ydgrk4p5g/make-4.2.1.7z?dl=0
    mkdir gnu
    cd gnu
    7z x ../make.7z > nul
    mv make.exe gmake.exe
    cd ..
    :: Download & extract a *working* GNU grep
    :: (version 3.1 bundled with newer git (v2.19+) seems to be buggy wrt. output line-endings)
    curl -L -o grep.7z https://dl.dropboxusercontent.com/s/vwlfgz8wv1fmqnn/grep-3.0.7z?dl=0
    cd gnu
    7z x ../grep.7z > nul
    cd ..
    :: Download & extract LDC-flavoured LLVM
    curl -L -o llvm.7z https://github.com/ldc-developers/llvm/releases/download/ldc-v%LLVM_VERSION%/llvm-%LLVM_VERSION%-windows-%ARCH%-clang.7z
    mkdir llvm
    cd llvm
    7z x ../llvm.7z > nul
    cd ..
    :: Download & install clang
    curl -L -o clang.exe http://releases.llvm.org/%CLANG_VERSION%/LLVM-%CLANG_VERSION%-win64.exe
    clang.exe /S
  displayName: Install prerequisites
- script: |
    :: LLVM bin dir in PATH required for lld-link.exe
    set PATH=%CD%\llvm\bin;C:\Program Files\LLVM\bin;%CD%\ninja;%CD%\gnu;%PATH%
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    echo on
    cmake --version
    ninja --version
    clang-cl --version
    mkdir bootstrap-ldc
    cd bootstrap-ldc
    cmake -G Ninja -DCMAKE_C_COMPILER:PATH=clang-cl.exe -DCMAKE_CXX_COMPILER:PATH=clang-cl.exe -DCMAKE_BUILD_TYPE=Release -DLLVM_ROOT_DIR=%CD%/../llvm -DD_COMPILER=%CD%/../host-ldc/bin/ldmd2 ..
    ninja -j2
    bin\ldc2 --version
  displayName: Build bootstrap LDC
- script: |
    set PATH=%CD%\llvm\bin;C:\Program Files\LLVM\bin;%CD%\ninja;%CD%\gnu;%PATH%
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    set INSTALL_DIR=%CD%/install
    echo on
    mkdir build
    cd build
    cmake -G Ninja -DCMAKE_C_COMPILER:PATH=clang-cl.exe -DCMAKE_CXX_COMPILER:PATH=clang-cl.exe -DCMAKE_BUILD_TYPE=Release %EXTRA_CMAKE_FLAGS% -DCMAKE_INSTALL_PREFIX=%INSTALL_DIR% -DINCLUDE_INSTALL_DIR=%INSTALL_DIR%/import -DLLVM_ROOT_DIR=%CD%/../llvm -DD_COMPILER=%CD%/../bootstrap-ldc/bin/ldmd2 ..
    ninja -j2 all all-test-runners
    bin\ldc2 --version
  displayName: Build LDC & defaultlib unittest runners
- script: |
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    cd build
    ctest --output-on-failure -R "ldc2-unittest"
  displayName: Build & run LDC D unittests
  condition: succeededOrFailed()
- script: |
    set PATH=%CD%\llvm\bin;%PATH%
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    cd build
    ctest -V -R "lit-tests"
  displayName: Run LIT testsuite
  condition: succeededOrFailed()
- script: |
    :: git's usr/bin/bash, unlike its bin/bash, leaves PATH as-is
    set PATH=%CD%\gnu;C:\Program Files\Git\usr\bin;%PATH%
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    set DMD_TESTSUITE_MAKE_ARGS=-j2
    cd build
    ctest -V -R "dmd-testsuite"
  displayName: Run DMD testsuite
  condition: succeededOrFailed()
- script: |
    :: add libcurl.dll dir to PATH
    set PATH=%CD%\libcurl\ldc2;%CD%\gnu;C:\Program Files\Git\usr\bin;%PATH%
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    cd build
    ctest -j2 --output-on-failure -E "dmd-testsuite|lit-tests|ldc2-unittest"
  displayName: Run defaultlib unittests & druntime stand-alone tests
  condition: succeededOrFailed()
- script: |
    set PATH=%CD%\ninja;%PATH%
    cd build
    ninja install > nul
    cd ..
    powershell -c "(cat install/etc/ldc2.conf).replace('%CD:\=/%/install/', '%%%%ldcbinarypath%%%%/../') | Set-Content install/etc/ldc2.conf"
    cat install/etc/ldc2.conf
    cp LICENSE install
    cp packaging/README.txt install
    cp libcurl/ldc2/libcurl.dll install/bin
    cp libcurl/ldc2/libcurl.dll install/lib
    cp libcurl/ldc2/curl.lib install/lib
    :: Now rename the installation dir to test portability
    mv install installed
  displayName: Install LDC, make portable & copy curl
- script: |
    cp llvm/bin/lld-link.exe installed/bin
    curl -L -o mingw-w64-libs.7z https://github.com/ldc-developers/mingw-w64-libs/releases/download/v6.0.0-rc.4/mingw-w64-libs-v6.0.0-rc.4.7z
    mkdir mingw-w64-libs
    cd mingw-w64-libs
    7z x ../mingw-w64-libs.7z > nul
    cp -r lib%MODEL% ../installed/lib/mingw
  displayName: Copy lld-link.exe & MinGW-w64-based libs
- script: |
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    powershell -c "echo 'void main() { import std.stdio; writefln(\"Hello world, %%d bits\", size_t.sizeof * 8); }'" > hello.d
    installed\bin\ldc2 hello.d -of=hello_thin.exe -flto=thin -defaultlib=phobos2-ldc-lto,druntime-ldc-lto
    hello_thin.exe
    installed\bin\ldc2 hello.d -of=hello_full.exe -flto=full -defaultlib=phobos2-ldc-lto,druntime-ldc-lto
    hello_full.exe
  displayName: Run hello-world integration test with LTO
- script: |
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    set DC=%CD%/installed/bin/ldmd2
    git clone --recursive https://github.com/dlang/dub.git
    cd dub
    powershell -c "git checkout \"$(cat ../packaging/dub_version -Raw)\""
    powershell -c "(cat build.cmd).replace('curl.lib', '%CD%/../installed/lib/curl.lib') | Set-Content build.cmd"
    build.cmd
    cp bin/dub.exe ../installed/bin
  displayName: Build & copy dub
- script: |
    call "%VSINSTALLDIR%Common7\Tools\VsDevCmd.bat" -arch=%ARCH%
    git clone --recursive https://github.com/dlang/tools.git dlang-tools
    cd dlang-tools
    ..\installed\bin\ldmd2 -w rdmd.d
    ..\installed\bin\ldmd2 -w ddemangle.d
    ..\installed\bin\ldmd2 -w DustMite\dustmite.d DustMite\splitter.d
    cp *.exe ../installed/bin
  displayName: Build & copy dlang tools
- script: |
    set ARTIFACT_NAME=ldc2-%BUILD_SOURCEVERSION:~0,8%-windows-%ARCH%
    mv installed %ARTIFACT_NAME%
    mkdir artifacts
    7z a -mx=9 artifacts/%ARTIFACT_NAME%.7z %ARTIFACT_NAME% > nul
  displayName: Pack installation dir
- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'windows-$(ARCH)'
    targetPath: 'artifacts'
  displayName: Publish artifact
