# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Vanilla LLVM
on:
  pull_request:
  push:
    branches-ignore:
      - 'merge-*' # don't run on pushes to merge-X.Y.Z branches, they are usually PRs
    tags: # explicitly needed to run for all tags, due to the branches filter above
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - job_name: Ubuntu 24.04, LLVM 21, latest LDC beta
            os: ubuntu-24.04
            host_dc: ldc-beta
            llvm_version: 21
            cmake_flags: -DCMAKE_EXE_LINKER_FLAGS=-lcurl # work around libcurl dependency for ldc-profdata (LLVM apparently built with non-default LLVM_ENABLE_CURL=ON)
          - job_name: Ubuntu 24.04, LLVM 19, latest LDC beta
            os: ubuntu-24.04
            host_dc: ldc-beta
            llvm_version: 19
            cmake_flags: -DRT_SUPPORT_SANITIZERS=ON
          - job_name: Ubuntu 24.04, LLVM 18, bootstrap LDC
            os: ubuntu-24.04
            host_dc: ldc-1.19.0
            llvm_version: 18
            cmake_flags: -DBUILD_SHARED_LIBS=OFF -DPHOBOS_SYSTEM_ZLIB=ON
          - job_name: macOS 14, LLVM 17, latest LDC beta
            os: macos-14
            host_dc: ldc-beta
            llvm_version: 17.0.5
            cmake_flags: -DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON -DCMAKE_EXE_LINKER_FLAGS=-L/opt/homebrew/opt/zstd/lib
          - job_name: macOS 14, LLVM 16, latest LDC beta
            os: macos-14
            host_dc: ldc-beta
            llvm_version: 16.0.5
            cmake_flags: -DBUILD_SHARED_LIBS=OFF -DCMAKE_EXE_LINKER_FLAGS=-L/opt/homebrew/opt/zstd/lib
          - job_name: Ubuntu 24.04, LLVM 15, latest DMD beta
            os: ubuntu-24.04
            host_dc: dmd-beta
            llvm_version: 15
            cmake_flags: -DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON -DLIB_SUFFIX=64
    name: ${{ matrix.job_name }}
    runs-on: ${{ matrix.os }}
    env:
      # silence `ld: warning: object file (…) was built for newer macOS version (…) than being linked (…)`
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.os == 'macos-14' && '13.6' || '11.6' }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 50
      - name: Install D host compiler
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ${{ matrix.host_dc }}
      - name: Clear LD_LIBRARY_PATH to prevent loading host compiler libs
        run: echo "LD_LIBRARY_PATH=" >> $GITHUB_ENV
      - name: Install lit
        run: |
          set -euxo pipefail
          if [[ '${{ matrix.os }}' == 'macos-14' ]]; then
            brew install lit
          else
            python3 -m pip install --user lit psutil
          fi
          python3 -c "import lit.main; lit.main.main();" --version . | head -n 1
      - name: 'Linux: Install gdb, lld, llvm-dev and libclang-common-dev'
        if: runner.os == 'Linux'
        run: |
          set -eux
          sudo apt-get update
          version='${{ matrix.llvm_version }}'
          if [[ "$version" -eq 21 ]]; then
            curl -fL --retry 3 --max-time 30 -O https://apt.llvm.org/llvm.sh
            sudo bash llvm.sh "$version"
            sudo apt-get install gdb libcurl4-openssl-dev
          else
            sudo apt-get install gdb lld-${{ matrix.llvm_version }} llvm-${{ matrix.llvm_version }}-dev libclang-common-${{ matrix.llvm_version }}-dev
          fi

      - name: 'macOS: Install a more recent GNU make'
        if: runner.os == 'macOS'
        run: |
          brew install make
          gmake --version

      - name: 'macOS: Try to restore cached LLVM'
        if: runner.os == 'macOS'
        uses: actions/cache@v4
        with:
          path: llvm
          key: llvm-${{ matrix.llvm_version }}-${{ runner.os }}

      - name: 'macOS: Download & extract prebuilt vanilla LLVM ${{ matrix.llvm_version }}'
        if: runner.os == 'macOS'
        run: |
          set -eux
          if [[ -d llvm ]]; then
            echo "Already cached"
            exit 0
          fi

          version='${{ matrix.llvm_version }}'
          if [[ "$version" =~ ^https:// ]]; then
            url="$version"
          else
            url="https://github.com/llvm/llvm-project/releases/download/llvmorg-$version/clang+llvm-$version-arm64-apple-darwin22.0.tar.xz"
          fi

          curl -fL --retry 3 --max-time 300 -o llvm.tar.xz "$url"
          mkdir llvm
          tar -xf llvm.tar.xz --strip 1 -C llvm
          rm llvm.tar.xz

          # don't link lib{c++,unwind} libs from LLVM package, they'd need RPATH fiddling
          rm -f llvm/lib/lib{c++,unwind}.*

      - name: 'Linux: Make lld the default linker'
        if: runner.os == 'Linux'
        run: |
          set -eux
          echo "Using lld to work around sporadic failures"
          sudo ln -sf ld.lld-${{ matrix.llvm_version }} /usr/bin/ld
          ld --version

      - name: Build LDC & LDC D unittests & defaultlib unittest runners with extra '${{ matrix.cmake_flags }}'
        run: |
          set -eux
          cmake -G Ninja . \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_ROOT_DIR=${{ runner.os == 'Linux' && format('/usr/lib/llvm-{0}', matrix.llvm_version) || '"$PWD/llvm"' }} \
            ${{ matrix.cmake_flags }}
          ninja obj/ldc2.o all ldc2-unittest all-test-runners
          bin/ldc2 --version

      - name: Run LDC D unittests
        if: success() || failure()
        run: ctest --output-on-failure -R "ldc2-unittest"
      - name: Run LIT testsuite
        if: success() || failure()
        run: |
          set -eux
          if [[ '${{ runner.os }}' == 'Linux' ]]; then
            # FIXME: lsan_interceptors.cpp:82 "((!lsan_init_is_running)) != (0)"
            rm tests/sanitizers/lsan_memleak.d
          elif [[ '${{ runner.os }}' == 'macOS' ]]; then
            # work around weird lit-test `plugins/addFuncEntryCall/testPlugin.d`
            # regression after switching to homebrew make (default CXX is clang++)
            export CXX=c++
            if [[ '${{ matrix.cmake_flags }}' =~ -DRT_SUPPORT_SANITIZERS=ON ]]; then
              # FIXME: regressed with druntime v2.111 on macOS arm64 (but works on Linux x86_64)
              rm tests/sanitizers/asan_fiber.d
            fi
          fi
          ctest -V -R "lit-tests"
      - name: Run DMD testsuite
        if: success() || failure()
        run: ctest -V -R "dmd-testsuite"
      - name: Run defaultlib unittests & druntime integration tests
        if: success() || failure()
        run: |
          set -eux
          excludes='dmd-testsuite|lit-tests|ldc2-unittest'
          if [[ '${{ runner.os }}' == macOS ]]; then
            N=$(sysctl -n hw.logicalcpu)
            if [[ '${{ matrix.os }}' == macos-14 ]]; then
              # FIXME: crashes frequently with enabled optimizations on M1 runners
              excludes+='|^std.internal.math.gammafunction(-shared)?$'
            fi
            # FIXME: https://github.com/dlang/phobos/issues/10730
            excludes+='|^std.experimental.allocator.building_blocks.allocator_list'
          else
            N=$(nproc)
          fi
          ctest -j$N --output-on-failure -E "$excludes" --timeout 120
