name: Vanilla LLVM
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - job_name: Ubuntu 18.04, LLVM 13, latest LDC beta
            os: ubuntu-18.04
            host_dc: ldc-beta
            llvm_version: "ldc-13.0.1"
            cmake_opts: ""
          - job_name: Ubuntu 18.04, LLVM 12, latest LDC beta
            os: ubuntu-18.04
            host_dc: ldc-beta
            llvm_version: "12.0.1"
            cmake_opts: ""
          - job_name: Ubuntu 18.04, LLVM 11, latest LDC beta
            os: ubuntu-18.04
            host_dc: ldc-beta
            llvm_version: "11.1.0"
            cmake_opts: "-DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON"
          - job_name: Ubuntu 18.04, LLVM 9, latest LDC beta
            os: ubuntu-18.04
            host_dc: ldc-beta
            llvm_version: "9.0.1"
            cmake_opts: "-DBUILD_SHARED_LIBS=OFF -DRT_SUPPORT_SANITIZERS=ON"
          - job_name: Ubuntu 18.04, LLVM 8, latest LDC beta
            os: ubuntu-18.04
            host_dc: ldc-beta
            llvm_version: "8.0.0"
            cmake_opts: "-DLIB_SUFFIX=64"
          - job_name: Ubuntu 18.04, LLVM 6, latest DMD beta
            os: ubuntu-18.04
            host_dc: dmd-beta
            llvm_version: "6.0.1"
            cmake_opts: "-DLDC_LINK_MANUALLY=ON"
          - job_name: macOS 10.15, LLVM 10, latest DMD beta
            os: macos-10.15
            host_dc: dmd-beta
            llvm_version: "10.0.1"
            cmake_opts: "-DBUILD_SHARED_LIBS=ON -DRT_SUPPORT_SANITIZERS=ON -DLDC_LINK_MANUALLY=ON"
          - job_name: macOS 10.15, LLVM 7, latest LDC beta
            os: macos-10.15
            host_dc: ldc-beta
            llvm_version: "7.0.0"
            cmake_opts: "-DBUILD_SHARED_LIBS=OFF"
    name: ${{ matrix.job_name }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 50
      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@v3
      - name: Install D host compiler
        uses: dlang-community/setup-dlang@v1.0.6
        with:
          compiler: ${{ matrix.host_dc }}
      - name: Clear LD_LIBRARY_PATH to prevent loading host compiler libs
        run: echo "LD_LIBRARY_PATH=" >> $GITHUB_ENV
      - name: Install lit
        run: |
          set -euxo pipefail
          python3 -m pip install --user setuptools wheel
          python3 -m pip install --user lit
          python3 -c "import lit.main; lit.main.main();" --version . | head -n 1
      - name: "Linux: Install gdb"
        if: runner.os == 'Linux'
        run: |
          set -euxo pipefail
          sudo apt-get update
          # Don't use latest gdb v10 from Ubuntu toolchain PPA with regressions, use official v8
          sudo apt-get install gdb=8.1.1-0ubuntu1
      - name: "Linux: Make ld.gold the default linker"
        if: runner.os == 'Linux'
        run: sudo ln -sf /usr/bin/ld.gold /usr/bin/ld

      - name: Try to restore cached LLVM
        uses: actions/cache@v2
        with:
          path: llvm
          key: llvm-${{ matrix.llvm_version }}-ubuntu-16.04

      - name: Download & extract prebuilt vanilla LLVM ${{ matrix.llvm_version }}
        run: |
          set -euxo pipefail
          if [[ -d llvm ]]; then
            echo "Already cached"
            exit 0
          fi
          if [[ '${{ runner.os }}' == 'macOS' ]]; then
            suffix='x86_64-apple-darwin'
          else
            suffix='x86_64-linux-gnu-ubuntu-16.04'
          fi
          version='${{ matrix.llvm_version }}'
          # vanilla v13.0.0 doesn't work with ld.gold, use LDC-LLVM v13.0.1 instead for now
          if [[ "$version" == "ldc-13.0.1" ]]; then
            llvm_url="https://github.com/ldc-developers/llvm-project/releases/download/ldc-v13.0.1/llvm-13.0.1-linux-x86_64.tar.xz"
          elif [[ "$version" =~ ^(1.|9)\. ]]; then
            llvm_url="https://github.com/llvm/llvm-project/releases/download/llvmorg-$version/clang+llvm-$version-$suffix.tar.xz"
          else
            llvm_url="http://releases.llvm.org/$version/clang+llvm-$version-$suffix.tar.xz"
          fi
          curl -fL --retry 3 --max-time 300 -o llvm.tar.xz $llvm_url
          mkdir -p llvm
          tar -xf llvm.tar.xz --strip 1 -C llvm
          rm llvm.tar.xz

      - name: Build LDC & LDC D unittests & defaultlib unittest runners with extra '${{ matrix.cmake_opts }}'
        run: |
          set -euxo pipefail
          cmake -G Ninja . \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_ROOT_DIR=$PWD/llvm \
            -DLDC_LINK_MANUALLY=OFF \
            ${{ matrix.cmake_opts }}
          ninja -j2 all ldc2-unittest all-test-runners
          bin/ldc2 -version

      - name: Run LDC D unittests
        run: ctest --output-on-failure -R "ldc2-unittest"
      - name: Run LIT testsuite
        run: |
          set -euxo pipefail
          # LLVM 9: libclang_rt.fuzzer-x86_64.a not compiled with -fPIC
          if [[ '${{ matrix.llvm_version }}' == 9.* ]]; then
            echo "config.available_features.remove('Fuzzer')" >> tests/sanitizers/lit.local.cfg
          fi
          ctest -V -R "lit-tests"
      - name: Run DMD testsuite
        run: ctest -V -R "dmd-testsuite"
      - name: Run defaultlib unittests & druntime integration tests
        run: |
          set -euxo pipefail
          excludes='dmd-testsuite|lit-tests|ldc2-unittest'
          if [[ '${{ runner.os }}' == 'macOS' ]]; then
            # https://github.com/ldc-developers/ldc/issues/3280
            excludes+='|druntime-test-exceptions-debug'
          fi
          ctest -j2 --output-on-failure -E "$excludes"
